{% extends 'base.html' %}

{% block title %} Home {% endblock  %}
{% block content %}


    <div class="jumbotron">
  <h1 class="display-3">Bienvenu dans noter site e-commerce</h1>
  <p class="lead">Vous trouver tous les produits de materiel informatque .</p>
  {% comment %} <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p> {% endcomment %}
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="{% url 'productslist'%}" role="button">Tous les produits</a>
  </p>
</div>


{% endblock %}